<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=LAPTOP-J9EVDLUS;Initial Catalog=QuanLyBanHangNhom1;User ID=sa;Password=0987654321;Trust Server Certificate=True" />
	</connectionStrings>
</configuration>